validation/src/main/resources/common-xml-examples/datetime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://it.nure.ua/xmldemo"
        xmlns:tns="http://it.nure.ua/xmldemo" elementFormDefault="qualified">

    <complexType name="DateTime">
        <sequence>
            <element name="Duration" type="duration"/>
            <element name="DateTime" type="dateTime"/>
            <element name="Time" type="time"/>
            <element name="YearMonth" type="gYearMonth"/>
            <element name="MonthDay" type="gMonthDay"/>
            <element name="Year" type="gYear"/>
            <element name="Month" type="gMonth"/>
            <choice minOccurs="0">
                <sequence>
                    <element name="Day" type="gDay" fixed="---14" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="DayOfWeek" type="gDay" fixed="---14" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <sequence minOccurs="0">
                    <element name="Day" type="gDay" fixed="---12" minOccurs="1" maxOccurs="1"/>
                    <element name="DayOfWeek" type="gDay" fixed="---12" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </choice>
        </sequence>
    </complexType>
    <element name="datetime" type="tns:DateTime"></element>
</schema>